

^.*(bqg997|公众号|笔趣阁|想要看最新章節內容).*\n?

^.*(83中文).*\n?



（.*?加更.*?）

^.*(ps：).*\n?

^(.*)章 

\(+.*加更.*\)

（.*加更.*）
（.*保底.*）

^.*([a-z]{5}).*\n?

找书苑(.*)ｍ 
找书苑(.*)m


###(\d{3})，
第$1章


^第0+(\d+)
第$1


^第(\d+?)章\s+(.*?)\s*(
第$1章 $2\n(

^第(\d+?)章\s+(.*?)\s*（

^这个影帝只想考证正文卷第第(\d+?)章


^.*(月票|加更|推荐票|求收藏|1秒记住|万赏|不算点币|换源|安装最新|听书|无广告|无弹窗|起点币|https|href|ps).*\n?

vscode 使用正则表达式，比如 第6章遗憾 字符串，规则是 第开头+数字+章+标题，要改为 第开头+数字+章+空格+标题
第(\d+)章(\S+)
第([零一二三四五六七八九十百千]+)章 (\S+)
(\d+).(\S+)
第$1章 $2


vscode 正则表达式类似 第113章 回城 ，规则是：第+数字+章 ，连续两行都有，删除第二行 
(^\s*第\d+章[\s\u3000]*.*)(\r?\n)(^\s*第\d+章[\s\u3000]*.*)(\r?\n)
$3

(^\s*第[零一二两三四五六七八九十百千]+章[\s\u3000]*.*)(\r?\n)(^\s*第[零一二两三四五六七八九十百千]+章[\s\u3000]*.*)(\r?\n)
$3
第([零一二三四五六七八九十百千]+)章([\s\u3000]*.*)(\r?\n)^\s*第([零一二三四五六七八九十百千]+)章[\s\u3000]*.*(\r?\n)
第$1章 $2


vscode 使用正则表达式，替换 第134章 132，4号NPC候选人 为 第134章 132，4号NPC候选人，规则：第+数字+章+空格+数字+中文逗号+空格+标题，替换为 第+数字+章+空格+标题
第(\d+)章 \d+，(.*)
\d+第(\d+)章 (.*)
\d+.第(\d+)章 (.*)
第$1章 $2


vscode 使用正则表达式，第214章 各方阻击（二合一） 替换为 第214章 各方阻击 规则 第+数字+章+标题+左括号（不管英文，中文）+后面不管是什么 替换为 第+数字+章+标题
第(\d+)章\s*([^（(【]*)(\s*[（(【].*)?
第([零一二两三四五六七八九十百千]+)章\s*([^（(【《[[]*)(\s*[（(【《[].*)?
第$1章 $2


vscode 使用正则表达式，第+中文数字+章+空格+标题  替换为  第+阿拉伯数字+章+空格+标题


vscode 里使用正则表达式，找 *** 后面，第([零一二三四五六七八九十百千]+)章 前的内容
(\*\*\*)([\w\W]*?)(?=第[零一二三四五六七八九十百千\d]+章)

